# Environment variables for vikunja
# Copy this file to .env and adjust values as needed.

### Service Variables ###
VIKUNJA_JWT_SECRET=""

### Dependent Variables (Override if needed) ###
# Defined in config/global.env but can be overridden here.
# POSTGRES_PASSWORD="" # Set in global.env
# POSTGRES_USER="" # Set in global.env
# POSTGRES_VERSION="" # Set in global.env
# PROJECT_ROOT="" # Set in global.env
# TZ="" # Set in global.env
# VIKUNJA_HOSTNAME="" # Set in global.env
