services:
  ollama-pull-llama-cpu:
    image: ollama/ollama:latest
    container_name: ollama-pull-llama
    volumes:
    - ollama_storage:/root/.ollama
    entrypoint: /bin/sh
    command:
    - -c
    - sleep 3; OLLAMA_HOST=ollama:11434 ollama pull qwen2.5:7b-instruct-q4_K_M; OLLAMA_HOST=ollama:11434
      ollama pull nomic-embed-text
    profiles:
    - cpu
    depends_on:
    - ollama-cpu
  ollama-cpu:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    environment:
    - OLLAMA_CONTEXT_LENGTH=8192
    - OLLAMA_FLASH_ATTENTION=1
    - OLLAMA_KV_CACHE_TYPE=q8_0
    - OLLAMA_MAX_LOADED_MODELS=2
    volumes:
    - ollama_storage:/root/.ollama
    profiles:
    - cpu
  ollama-pull-llama-gpu:
    image: ollama/ollama:latest
    container_name: ollama-pull-llama
    volumes:
    - ollama_storage:/root/.ollama
    entrypoint: /bin/sh
    command:
    - -c
    - sleep 3; OLLAMA_HOST=ollama:11434 ollama pull qwen2.5:7b-instruct-q4_K_M; OLLAMA_HOST=ollama:11434
      ollama pull nomic-embed-text
    profiles:
    - gpu-nvidia
    depends_on:
    - ollama-gpu
  ollama-gpu:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    environment:
    - OLLAMA_CONTEXT_LENGTH=8192
    - OLLAMA_FLASH_ATTENTION=1
    - OLLAMA_KV_CACHE_TYPE=q8_0
    - OLLAMA_MAX_LOADED_MODELS=2
    volumes:
    - ollama_storage:/root/.ollama
    profiles:
    - gpu-nvidia
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 1
            capabilities:
            - gpu
  ollama-pull-llama-gpu-amd:
    image: ollama/ollama:rocm
    container_name: ollama-pull-llama
    volumes:
    - ollama_storage:/root/.ollama
    entrypoint: /bin/sh
    command:
    - -c
    - sleep 3; OLLAMA_HOST=ollama:11434 ollama pull qwen2.5:7b-instruct-q4_K_M; OLLAMA_HOST=ollama:11434
      ollama pull nomic-embed-text
    profiles:
    - gpu-amd
    depends_on:
    - ollama-gpu-amd
  ollama-gpu-amd:
    image: ollama/ollama:rocm
    container_name: ollama
    restart: unless-stopped
    environment:
    - OLLAMA_CONTEXT_LENGTH=8192
    - OLLAMA_FLASH_ATTENTION=1
    - OLLAMA_KV_CACHE_TYPE=q8_0
    - OLLAMA_MAX_LOADED_MODELS=2
    volumes:
    - ollama_storage:/root/.ollama
    profiles:
    - gpu-amd
    devices:
    - /dev/kfd
    - /dev/dri
volumes:
  ollama_storage: {}
