.DS_Store
.env
.env.bak
.env.test
neo4j/
searxng/settings.yml
searxng/uwsgi*
shared-backup/
shared/
supabase/
dify/
volumes/bolt-data/
openedai-config/
openedai-voices/
perplexica/
# Mail Services
postal/config/
mailpit_data/
postal_mariadb/
postal_rabbitmq/
postal_assets/
postal_uploads/
calcom-docker/
*.backup-postal
docker-data/
dkim_generation.log
dkim_record.txt

# Jitsi configuration directories
jitsi-jicofo/
jitsi-jvb/
jitsi-prosody-config/
jitsi-prosody-plugins/
jitsi-web/
jitsi-transcripts/
VAULTWARDEN_IMPORT.txt
ai-launchkit-credentials.json
chatterbox-frontend/
chatterbox-frontend/
chatterbox-frontend/
website/
vexa/
volumes/
opennotebook/
credentials.*.txt
dex/config.yaml
homepage_config/logs/
homepage_config/services.yaml
homepage_config/docker.yaml
homepage_config/widgets.yaml
.env.backup
