# Environment variables for airbyte
# Copy this file to .env and adjust values as needed.

### Service Variables ###
AIRBYTE_DESTINATION_DB_PASSWORD=''
AIRBYTE_PASSWORD=''
AIRBYTE_USERNAME=''

### Dependent Variables (Override if needed) ###
# Defined in config/.env.global but can be overridden here.
# PROJECT_ROOT='' # Set in .env.global
