services:
  libretranslate:
    image: libretranslate/libretranslate:v1.6.1
    container_name: libretranslate
    profiles:
    - libretranslate
    restart: unless-stopped
    env_file:
      - .env
    environment:
    - LT_HOST=0.0.0.0
    - LT_PORT=5000
    - LT_CHAR_LIMIT=${LIBRETRANSLATE_CHAR_LIMIT:-10000}
    - LT_FRONTEND_LANGUAGE_SOURCE=${LIBRETRANSLATE_DEFAULT_SOURCE:-auto}
    - LT_FRONTEND_LANGUAGE_TARGET=${LIBRETRANSLATE_DEFAULT_TARGET:-en}
    - LT_API_KEYS=${LIBRETRANSLATE_API_KEYS:-false}
    - LT_API_KEYS_DB_PATH=/app/db/api_keys.db
    - LT_THREADS=${LIBRETRANSLATE_THREADS:-4}
    - LT_SUGGESTIONS=${LIBRETRANSLATE_SUGGESTIONS:-false}
    - LT_DISABLE_WEB_UI=${LIBRETRANSLATE_DISABLE_WEB_UI:-false}
    - LT_UPDATE_MODELS=${LIBRETRANSLATE_UPDATE_MODELS:-true}
    - LT_LOAD_ONLY=${LIBRETRANSLATE_LOAD_ONLY:-en,de,fr,es,it,nl,pl,pt,ru}
    - LT_METRICS=${LIBRETRANSLATE_METRICS:-false}
    volumes:
    - libretranslate_models:/home/libretranslate/.local
    - libretranslate_db:/app/db
    - ${PROJECT_ROOT}/services/.shared-resources/shared:/data/shared
volumes:
  libretranslate_db: {}
  libretranslate_models: {}
