# Environment variables for searxng
# Copy this file to .env and adjust values as needed.

### Service Variables ###
SEARXNG_UWSGI_THREADS=""
SEARXNG_UWSGI_WORKERS=""
SEARXNG_PASSWORD=""

### Dependent Variables (Override if needed) ###
# Defined in config/global.env but can be overridden here.
# PROJECT_ROOT="" # Set in global.env
# SEARXNG_HOSTNAME="" # Set in global.env
