services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j
    profiles:
    - neo4j
    restart: unless-stopped
    volumes:
    - ./data/logs:/logs
    - ./config:/config
    - ./data:/data
    - ./config/plugins:/plugins
    env_file:
      - .env
    environment:
    - NEO4J_AUTH=${NEO4J_AUTH_USERNAME:-neo4j}/${NEO4J_AUTH_PASSWORD}
    - NEO4J_server_default__advertised__address=${NEO4J_HOSTNAME}
    - NEO4J_server_bolt_advertised__address=${NEO4J_HOSTNAME}:7687
    - NEO4J_server_http_advertised__address=${NEO4J_HOSTNAME}
    - NEO4J_server_bolt_tls__level=DISABLED
    - NEO4J_browser_remote__content__hostname__whitelist=${NEO4J_HOSTNAME}
    - NEO4J_browser_post__connect__cmd=play start
    - NEO4J_server_memory_heap_initial__size=512m
    - NEO4J_server_memory_heap_max__size=1G
    - NEO4J_server_memory_pagecache_size=256m
    - NEO4J_server_default__listen__address=0.0.0.0
    - NEO4J_server_bolt_listen__address=0.0.0.0:7687
    - NEO4J_server_http_listen__address=0.0.0.0:7474
    - NEO4J_dbms_security_auth__enabled=true
    - NEO4J_client_allow__telemetry=false
    - NEO4J_dbms_allow__upgrade=true
    expose:
    - '7474'
    - '7687'
    healthcheck:
      test:
      - CMD-SHELL
      - wget --no-verbose --tries=1 --spider http://localhost:7474 || exit 1
      interval: 5s
      timeout: 3s
      retries: 5
    ulimits:
      nofile:
        soft: 40000
        hard: 40000

