services:
  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: gotenberg
    profiles:
    - gotenberg
    restart: unless-stopped
    env_file:
      - .env
    environment:
    - DISABLE_GOOGLE_CHROME=false
    healthcheck:
      test:
      - CMD
      - wget
      - -qO
      - /dev/null
      - http://localhost:3000/health
      interval: 30s
      timeout: 10s
      retries: 3
