version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    profiles:
    - qdrant
    restart: unless-stopped
    volumes:
    - qdrant_storage:/qdrant/storage
    environment:
    - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}
    expose:
    - '6333'
networks:
  default:
    name: localai_default
    external: true
volumes:
  qdrant_storage: {}
